$sui-btn-border-color: #3997d3;
$sui-btn-font-size: 16px;
$sui-btn-height: 2.5rem;
$sui-btn-line-height: 1rem;
$sui-btn-font-family: "OpenSans",sans-serif;
$sui-btn-color: #3997d3;
$sui-btn-padding-right: 1rem;
$sui-btn-padding-left: 1rem;
$sui-btn-bg-color: #ffffff;
$sui-btn-border-radius: 0.125rem;

$sui-btn-bg-color-hover: #b2d6ed;


@mixin sui-Btn--extend {
    font-weight: 300;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    &:hover {
    	border-color: transparent; 
    }
};

@import '../node-modules/sui-button/src/index';





// @mixin button--small {
//        font-size: 12px;
//     font-size: rem(12px);
//         line-height: 20px;
//     line-height: .75rem;
//         padding: 12px 8px;
//     padding: .75rem .5rem;
// }

// @mixin button--large {
//        font-size: 20px;
//     font-size: rem(20px);
//         line-height: 24px;
//     line-height: 1.5rem;
//         padding: 12px 16px;
//     padding: .75rem 1rem;
//     white-space: nowrap;
// }

// @mixin button--hover {
//     background: $button-background--hover;
//     border-color: transparent;
//     text-decoration: none;
// }

// @mixin button--pressed {
//     background: $button-background--hover;
//     border-color: transparent;
//     text-decoration: none;
// }

// @mixin button--primary {
//     background: $button-primary-background;
//     border-color: $button-primary-background;
//     color: $button-primary-color;
// }

// @mixin button--primary--hover {
//     background: $button-primary-background--hover;
// }

// @mixin button--primary--pressed {
//     background: $button-primary-background--hover;
// }

// @mixin button--accent {
//     background: $button-accent-background;
//     border-color: $button-accent-background;
//     color: $button-accent-color;
// }

// @mixin button--accent--hover {
//     background: $button-accent-background--hover;
// }

// @mixin button--accent--pressed {
//     background: $button-accent-background--hover;
// }

// @mixin button--disabled {
//     background: #ccc;
//     border-color: #ccc;
//     color: #999;
//     cursor: default;
// }